html,
body {
  height: 100%;
  background: #eee;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.auth-form {
  margin: 1rem auto;
  padding: 1rem;
  min-width: 150px;
  max-width: 500px;
  width: 100%;

  background: #fff;
  border-radius: 4px;
  box-shadow:
    0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);

  &__input {
    width: 100%;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
  }

  &__errors {
    margin-top: 1rem;
  }

  &__err-msg {
    width: 100%;
    padding-left: 0.75em;
    background: #f7d1cf;
    border-radius: 4px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    & p {
      margin: 0;
    }

    &+* {
      margin-top: 1em;
    }
  }
}