<p>notes-list works!</p>
<div *ngIf="vm$ | async as vm">

  <div *ngIf="vm.notes && vm.notes.length > 0 else noNotes">
    <div class="note" *ngFor="let note of vm.notes" [ngStyle]="{'background': note.color}">
      <h1>
        <a [routerLink]="['/notes', note.id]">{{ note.title }}</a>
      </h1>
      <div>
        <button><a [routerLink]="['/notes', note.id, 'edit']">Edit</a></button>
        <button (click)="onDestroy(note.id!)" [disabled]="note.isPending">X</button>
      </div>
    </div>
  </div>

  <ng-template #noNotes>
    <div *ngIf="vm.page.error">
      <h2>Connection error</h2>
    </div>

    <h2 *ngIf="!vm.page.error && !vm.page.pending">
      <h2>No notes</h2>
    </h2>
  </ng-template>

  <div *ngIf="vm.page.pending">
    <h2>loading...</h2>
  </div>

</div>
