<section class="auth">
  <form class="auth-form" [formGroup]="registerForm">
    <app-auth-form-ui submitButton="Register"
      [parentGroup]="registerForm"
      [errors]="(errors$ | async) ?? []"
      [isPending]="(isPending$ | async) ?? false"
      (submit)="onRegister()">

      <ng-container slot="start">
        <mat-form-field class="auth-form__input"
          appearance="fill" hideRequiredMarker="true"
          *ngIf="name as ctrl">
          <mat-label>Name</mat-label>
          <input type="text" placeholder="Enter your name" matInput formControlName="name">

          <mat-error *ngIf="ctrl.hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="ctrl.hasError('maxlength')">
            Max length is {{ ctrl.errors?.['maxlength']?.['requiredLength'] }},
            actual {{ ctrl.errors?.['maxlength']?.['actualLength'] }}
          </mat-error>

        </mat-form-field>
      </ng-container>

      <ng-container slot="end">
        <mat-form-field class="auth-form__input"
          appearance="fill" hideRequiredMarker="true"
          *ngIf="confirmPassword as ctrl">
          <mat-label>Confirm Password</mat-label>
          <input placeholder="Confirmation should match your password" matInput [type]="isVisible ? 'text' : 'password'"
            formControlName="confirmPassword">
          <mat-icon matSuffix (click)="togglePasswordVisibility()">visibility</mat-icon>

          <mat-error *ngIf="ctrl.hasError('required')">
            Confirm Password is <strong>required</strong>
          </mat-error>
          <mat-hint *ngIf="ctrl.touched && registerForm.hasError('match_values')">
            Passwords should match
          </mat-hint>

        </mat-form-field>
      </ng-container>

    </app-auth-form-ui>
  </form>
</section>
